/*基础设置开始*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img{
    border: 0;
}
/*基础设置结束*/
/*广告开始*/
body{
    min-width: 1226px;
}
.adv{
    height: 120px;
    background: url("../img/cms_1507906806588_Fxrqj (1).jpg") no-repeat 50% 50%;

}
.adv a{
    display: block;
    width: 100%;
    height: 100%;
}
/*广告结束*/
.wrapper{
    width: 1226px;
    margin: 0 auto;
}
/*nav--开始*/
.nav{
    height: 40px;
    background: #333;
}
.n-l,.n-r{
    margin: 0 5px;
}
.nav a{
    color: #b0b0b0;
    display: block;
    font-size: 12px;
    height: 40px;
    /*width: 70px;*/
    text-align: center;
    line-height: 40px;
}
.nav a:hover{
    color: #fff;
}
.nav .line{
    display: block;
    width: 2px;
    height: 20px;
    margin: 10px 16px;
    background: #424242;
}
.n-title,.line{
    float: left;
}
.n-r{
    float: right;
    position: relative;
}
.car{
    width: 100px;
    margin-left: 10px;
    background: #424242;
}
.car:hover{
    color: #ff6700;
    background: #ffffff;
}
.cart-box{
    display: none;
    z-index: 2;
    overflow: hidden;
    width: 316px;
    height: 0px;
    padding-top: 15px;
    position: absolute;
    right: 0;
    top: 40px;
    background: #ffffff;
    -webkit-box-shadow:  0 2px 10px rgba(0,0,0,0.15);
    -moz-box-shadow:  0 2px 10px rgba(0,0,0,0.15);
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    border: 1px solid #cccccc \9;
    line-height: 70px;
    text-align: center;
    font-size: 12px;
}
.cart{
    float: right;
}
.cart:hover .cart-box{
    display: block;
    animation: show 0.5s ease-out forwards;
}
@keyframes show {
    100%{
        height: 85px;
    }
}
/*nav--结束*/
/*弹出层开始*/
.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(200,200,200,0.6);
    /*background: #cccccc;*/
    /*opacity: 0.6;*/
    /*filter: alpha(opacity:50);*/
}
.pop-up{
    width: 700px;
    height: 480px;
    border: 1px solid #2e2e2e;
    background: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -240px;
}
.t-top{
    height: 32px;
    padding: 14px 20px;
    background: #f5f5f5;
    font-size: 20px;
}
.t-top .t-l{
    float: left;
}
.t-top .t-r{
    float: right;
    cursor: pointer;
}
.t-bottom{
    height: 400px;
}
.t-bottom h1{
    color: #424242;
    text-align: center;
}
.t-bottom p{
    text-align: center;
    font-size: 18px;
}
.t-bottom .area{
    margin: 20px 0 0 2px;
}
.t-bottom .area a{
    display: block;
    width: 140px;
    height: 40px;
    margin: 0 10px 20px 20px;
    line-height: 40px;
    text-align: center;
    background: #eee;
    color: #757575;
}
#pop{
    display: none;
    /*z-index: 1;*/
}
/*弹出层结束*/
/*头部--开始*/
.container{
    height: 100px;
    position: relative;
    /*z-index: -1;*/
}
.header-logo a{
    /*display: block;*/
    width: 55px;
    height: 55px;
    background: url("../img/mi-logo.png") no-repeat #ff6700 50% 50%;
    margin-top: 22px;
    float: left;
}
.header-logo2 a{
    margin-left: 10px;
    width: 165px;
    height: 100px;
    float: left;
    background: url("../img/header.gif") no-repeat 50% 50%;
}
.header-list,.nav-list{
    float: left;
}
.header-list .nav-item{
    float: left;
    height: 100px;
    margin-left: 15px;
    line-height: 100px;
}
.nav-item a{
    display: block;
    font-size: 16px;
    color: rgb(51,51,51);
}
.nav-item a:hover{
    color: #ff6700;
}
.nav-item:hover .sub-menu{
    display: block;
    animation: look 0.5s ease-in forwards;
}
@keyframes look {
    100%{
        height: 266px;
    }
}
.header-list .sub-menu{
    z-index: 2;
    display: none;
    overflow: hidden;
    background: #ffffff;
    width: 100%;
    height: 0;
    border: solid #e0e0e0;
    border-width: 1px 0;
    position: absolute;
    left: 0;
    top: 100px;
    box-shadow: 0 1px 1px 0 rgba(80,80,80,0.15);
}
.sub-menu ul{
    width: 1224px;
    margin: 0 auto;
}
.sub-menu li{
    float: left;
    width: 204px;
    height: 201px;
    text-align: center;
    position: relative;
}
.sub-menu .flags{
    height: 17px;
    line-height: 17px;
    margin-bottom: 20px;
}
.flags span{
    border: 1px solid #ff6700;
    padding: 1px 14px;
    font-size: 12px;
    color: #ff6700;
}
.p-title{
    color: #333;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    font-size: 12px;
}
.p-price{
    color: #ff6700;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin-top: 20px;
}
.interval{
    height: 140px;
    display: block;
    width: 1px;
    background: #e0e0e0;
    position: absolute;
    right: 0;
    top: 40px;
}
.header-search{
    margin-top: 20px;
    width: 296px;
    height: 50px;
    float: right;
    position: relative;
}
.fill-in{
    width: 224px;
    height: 48px;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 0 10px;
    float: left;
}
.img-search{
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    position: relative;
    background: transparent;
    cursor: pointer;
    outline: none;
    z-index: 1;
}
.img-search:hover+i{
    background: #ff6700;
    color: #fff;
}
.icon-weibiao45126{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
/*头部--结束*/


/*底部开始*/
.footer-service{
    padding: 27px 0;
    height: 25px;
    border-bottom: 1px solid #e0e0e0;
}
.list-service li{
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.list-service .bor-none{
    border-left: none;
}
.list-service a {
    color: #616161;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.list-service .iconfont {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
}
.list-service .day{
    vertical-align: -2.5px;
}
.list-service .after-sale{
    font-size: 32px;
    vertical-align: -6px;
}

.footer-links {
    padding: 40px 0;
    height: 112px;
}
.col-links {
    float: left;
    width: 160px;
    height: 112px;
    text-align: center;
}
.col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}
.col-links a {
    color: #757575;
}

.col-contact {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.col-contact .phone {
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.col-contact p {
    margin: 0 0 16px;
    font-size: 12px;
}
.btn {
    display: inline-block;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    padding: 0;
    margin: 0;
    border: 1px solid #ff6700;
    text-align: center;
    cursor: pointer;
    background: #fff;
    color: #ff6700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.icon-zaixiankefu{
    vertical-align: -2px;
}
.site-info {
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.logo {
    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(../img/mi-logo.png) no-repeat 50% 50% #ff6700;
}
.info-text {
    float: left;
    color: #b0b0b0;
}
.info-text p {
    margin: 0;
    line-height: 18px;
}
.info-text .sites a {
    color: #757575;
}
.sep{
    margin: 0 .25em;
    font-family: sans-serif;
}
.info-text {
    float: left;
    color: #b0b0b0;
}
.site-info {
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.info-text a {
    color: #b0b0b0;
}
.info-links {
    float: right;
    height: 28px;
    margin: 4px 0 0;
}
.info-links img {
    width: auto;
    height: 28px;
    margin-left: 0;
}
.slogan {
    clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(../img/slogan2016.png) no-repeat center 0;
}
.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}
.list-service li:hover i,.list-service li:hover a{
    color: #ff6700;
}
.col-links a:hover,.info-text a:hover,.sites a:hover{
    color: #ff6700;
}
.btn:hover{
    background-color: #f25807;
    border-color: #f25807;
    color: #fff;
}

/*底部结束*/

/*go-top start*/
#go-top{
    width: 35px;
    height: 74px;
    background: url("../img/go-top.jpeg") no-repeat -22px 0;
    opacity: 0.5;
    filter:alpha(opacity=50);
    position: fixed;
    bottom: 50px;
    right: 50px;
}
#go-top:hover{
    background: url("../img/go-top.jpeg") no-repeat -113px 0;
    opacity: 0.8;
    filter:alpha(opacity=80);
}
/*go-top end*/

